<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header bg-dark text-white">
              <i class="fa fa-bookmark-o"></i>
              Welcome to Dashboard
            </div>
            <a href="">
              <button type="button" class="btn btn-danger mt-1" style="opacity: 10%; width: 100%">
                <i class="fa fa-line-chart"></i><br>Line
              </button>
            </a>
            <a href="/pie">
              <button type="button" class="btn btn-warning text-white mt-1" style="width: 100%">
                <i class="fa fa-pie-chart"></i> <br>Pie
              </button>
            </a>
            <a href="/bar">
              <button type="button" class="btn btn-primary text-white mt-1" style="width: 100%">
                <i class="fa fa-bar-chart"></i><br>Bar
              </button>
            </a>
            <a href="">

              <button type="button" class="btn btn-success text-white mt-1" style="width: 100%">
                <i class="fa fa-globe"></i><br>Maps
              </button>
            </a>
            <a href="/login">
              <button type="button" class="btn bg-info text-white mt-1" style="opacity: inherit; width: 100%">
                <i class="fa fa-user-circle"></i> <br> Panel
              </button>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>