<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <meta name="viewport" content="initial-scale=1.0" />
    <meta charset="utf-8" />
    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px; /* The height is 400 pixels */
        width: 100; /* The width is the width of the web page */
      }
      label{
            width: 100px;
            height: 50px;
            background-color: aliceblue;
            color: black;
        }
    </style>
  </head>
  <body>
    <div class="container">
      <h3 class="text-center">Maps</h3>
      <!--The div element for the map -->
      <div id="map"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      const API_URL = 'http://localhost:4000/api/maps';
      function initMap() {
        $.ajax({
          url: API_URL,
          method: 'GET',
          success: function(maps) {
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: { lat:-6.597770, lng:  106.797499 }
            });
            // Create an array of alphabetical characters used to label the markers.
            var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
            // Add some markers to the map.
            // Note: The code uses the JavaScript Array.prototype.map() method to
            // create an array of markers based on a given "locations" array.
            // The map() method here has nothing to do with the Google Maps API.
            var markers = maps.map(function(location, i) {
              return new google.maps.Marker({
                position: { lat: location.lat, lng: location.lng },
                label: location.title
              });
            });
            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers, {
              imagePath:
                'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
            });
          }
        });
      }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH8l5VvcEtf4s2dXJQoRWbvdr-M0ndiBo&callback=initMap"
    ></script>
  </body>
</html>